build/
firmware/
html/
espfs/mkespfsimage/*.o
espfs/mkespfsimage/mkespfsimage
webpages.espfs
espfs/espfstest/*.o
espfs/espfstest/espfstest
*.DS_Store
html_compressed/
npm-debug.log
test/.client_auth
test/*.bin
*.bak
config/node_modules
*.zlf
*.tgz
*.zip
.client_auth*
*.log
*.txt
*.bin
*.dat
.vscode/*
*.exe
test/tmp/*
temp/*
*.o
*.a
